awscli==1.15.19
boto3==1.7.19
botocore==1.10.19
click==6.7
colorama==0.3.7
coloredlogs==9.3.1
docutils==0.14
executor==19.3
fasteners==0.14.1
humanfriendly==4.12.1
jmespath==0.9.3
monotonic==1.5
property-manager==2.3
pyasn1==0.4.2
python-dateutil==2.7.3
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.13
scout==0.1
six==1.11.0
verboselogs==1.7
